<header id="home" class="border-b">
  <nav class="container p-6 mx-auto flex flex-col lg:flex-row justify-between items-center">
    <div class="my-2 text-center">
      <a class="text-2xl font-semibold" href="/">AbdeNasser Abachi</a>
      <p>abachinasser@gmail.com</p>
    </div>
    <ul class="flex flex-col sm:flex-row items-center">
      <li class="mx-2 md:mx-6 text-center">
        <a class="font-semibold py-2  border-b-2 border-transparent hover:opacity-50 text-blue-700 uppercase"
          href="/">Home</a>
      </li>
      <li class="mx-2 md:mx-6 text-center">
        <a class="font-semibold py-2  border-b-2 border-transparent hover:opacity-50 text-blue-700 uppercase"
          href="/work-experience-and-education ">Work Experience & Education</a>
      </li>
      <!-- <li class="mx-2 md:mx-6 text-center">
        <a class="font-semibold py-2  border-b-2 border-transparent hover:opacity-50 text-blue-700 uppercase"
          href="/thoughts">thoughts</a>
      </li> -->
      <li class="mx-2 md:mx-6 text-center">
        <a class="font-semibold py-2  border-b-2 border-transparent hover:opacity-50 text-blue-700 uppercase"
          href="/contact">contact</a>
      </li>
    </ul>
  </nav>
</header>